{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>View posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Logo</a>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'post_new' %}" class="top-menu">Add post</a></li>
                </ul>
        </div>
    </nav>
    <hr>
    <div class="content container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>