{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">Published: {{ post.published_date }}</div>
        {% endif %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        {% for image in post_images %}
            <img src = "{{ image }}" />
        {% endfor %}
    </div>
{% endblock %}