{% extends 'blog/base.html' %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="media" id="id_images" accept="image/*" multiple>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}