{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post" style="margin-right: 50px">
            {% if post.published_date %}
                <div class="date">
                    Published: {{ post.published_date }}
                </div>
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">
                {{ post.title }}
            </a></h2>
            <p>
                {{ post.text|truncatewords:25 }}
            </p>
            <a href="{% url 'post_detail' pk=post.pk %}">Read more</a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}